@model List<DataAccessLayer.doctordata>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DoctorRequest</title>
</head>
<body>
    <div> 
        <table>
            
            @{
                foreach (var i in Model)
                {
            <tr>
                <td>@i.DoctorId</td>
                <td>@i.Experience</td>
                <td>@i.Fees</td>
                <td>@i.HospitalId</td>
                <td>@i.LoginId</td>
                <td>@i.SpecialistId</td>
                <td>@i.status</td>
                <td><a href="~/Admin/confirmdoctor?docid=@i.DoctorId">confirm</a></td>
            </tr>
                }
            }

                </table>
    </div>
</body>
</html>
