@model DataAccessLayer.model.appointment
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Appointment</title>
</head>
<body>
    <div>
        <h2>add appointment</h2>
        @using (Html.BeginForm("Appointment", "Patient", FormMethod.Post))
        {
            <span>Full Name </span>
            @Html.TextBoxFor(m => m.UserName)<br />
            @Html.ValidationMessageFor(m => m.UserName)<br />
            <span>Slot</span>
            @Html.TextBoxFor(m => m.Slot)<br />
            @Html.ValidationMessageFor(m => m.Slot)<br />
            <span>Timings </span>
            @Html.TextBoxFor(m => m.Timings)<br />
            @Html.ValidationMessageFor(m => m.Timings)<br />
            <span>Problem </span>
            @Html.TextBoxFor(m => m.Description)<br />
            @Html.ValidationMessageFor(m => m.Description)<br />
            
            <input type="submit" value="Add Appointment" />

        }
    </div>
</body>
</html>
