@model DataAccessLayer.model.appointment
@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Appointment</title>
</head>
<body>
    <div>
        <h2>Add Appointment</h2>
        @using (Html.BeginForm("Appointment", "Patient", FormMethod.Post))
        {
            <table>
                <tr>
                    <th>Full Name </th>
                    <td>@Html.TextBoxFor(m => m.UserName)</td>

                    @Html.ValidationMessageFor(m => m.UserName)

                </tr>
                <tr>
                    <th>Slot</th>
                    <td>@Html.TextBoxFor(m => m.Slot)</td>

                    @Html.ValidationMessageFor(m => m.Slot)

                </tr>
                <tr>
                    <th>Timings </th>
                    <td>@Html.TextBoxFor(m => m.Timings)</td>

                    @Html.ValidationMessageFor(m => m.Timings)

                </tr>
                <tr>
                    <th>Problem </th>
                    <td>@Html.TextBoxFor(m => m.Description)</td>

                    @Html.ValidationMessageFor(m => m.Description)

                </tr>
                <tr>
                    <td><input type="submit" value="Add Appointment" /></td>
                </tr>
                <tr>
                    <td> <a href="~/Patient/PatientDashboard"> Patient Dashboard  </a> </td>
                </tr>
            </table>
            @Html.ValidationSummary()
        }
    </div>
</body>
</html>
