@model DataAccessLayer.model.newpatient
@{
   
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>New Patient</title>
</head>
<body>
    <div>

        <h3>New Patient</h3>

        @using (Html.BeginForm("NewPatient", "Patient", FormMethod.Post))
        {
            <table>

                <tr>
                    <th>Full Name </th>
                    <td> @Html.TextBoxFor(m => m.UserName)</td>

                    @Html.ValidationMessageFor(m => m.UserName)

                </tr>
                <tr>
                    <th>Mail </th>
                    <td> @Html.TextBoxFor(m => m.Mail)</td>

                    @Html.ValidationMessageFor(m => m.Mail)

                </tr>
                <tr>
                    <th>MobileNumber </th>
                    <td>@Html.TextBoxFor(m => m.MobileNumber)</td>

                    @Html.ValidationMessageFor(m => m.MobileNumber)

                </tr>
                <tr>
                    <th>Age </th>
                    <td>@Html.TextBoxFor(m => m.Age)</td>

                    @Html.ValidationMessageFor(m => m.Age)

                </tr>
                <tr>
                    <th>Address </th>
                    <td> @Html.TextBoxFor(m => m.Address)</td>

                    @Html.ValidationMessageFor(m => m.Address)

                </tr>
                <tr>
                    <th>Password</th>
                    <td>@Html.TextBoxFor(m => m.PassWord)</td>

                    @Html.ValidationMessageFor(m => m.PassWord)

                </tr>
                <tr>
                    <th>Confirm Password</th>
                    <td>@Html.TextBoxFor(m => m.PassWord)</td>

                    @Html.ValidationMessageFor(m => m.PassWord)

                </tr>
                <tr>
                    <td><input type="submit" value="Add Patient" /></td>

                </tr>
                <tr><td><span><a href="~/Patient/PatientHomepage"> Go to Homepage </a></span></td></tr>


            </table>
            @Html.ValidationSummary()

        }
    </div>
</body>
</html>
