@model DataAccessLayer.model.newpatient
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h3>New Patient register page</h3>
        <h2 style="color:black;">Patient's Registration Form</h2>
        <style>
            div {
                background-color: khaki;
            }
        </style>
        @using (Html.BeginForm("NewPatient", "Patient", FormMethod.Post))
        {
            <span>Full Name </span>
            @Html.TextBoxFor(m => m.UserName)<br />
            @Html.ValidationMessageFor(m => m.UserName)<br />
            <span>Mail </span>
            @Html.TextBoxFor(m => m.Mail)<br />
            @Html.ValidationMessageFor(m => m.Mail)<br />
            <span>MobileNumber </span>
            @Html.TextBoxFor(m => m.MobileNumber)<br />
            @Html.ValidationMessageFor(m => m.MobileNumber)<br />
            <span>Address </span>
            @Html.TextBoxFor(m => m.Address)<br />
            @Html.ValidationMessageFor(m => m.Address)<br />
            <span>Password</span>
            @Html.TextBoxFor(m => m.PassWord)<br />
            @Html.ValidationMessageFor(m => m.PassWord)<br />
            <span>Confirm Password</span>
            @Html.TextBoxFor(m => m.PassWord)<br />
            @Html.ValidationMessageFor(m => m.PassWord)<br />
            <input type="submit" value="Add Patient" />
            <span> <a href="~/Patient/PatientHomepage"> Go to Homepage </a> </span>
        }
    </div>
</body>
</html>
