@model List<DataAccessLayer.patientdata>
@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PatientDashboard</title>
</head>
<body>
    <div>
        <h3>PatientDashboard</h3>
        <table border="1">
            <tr>
                <td><p>AppointmentId</p></td>
                <td><p>Status</p></td>
                <td><p>Slot</p></td>
                <td><p>Timings</p></td>
                <td><p>Pay</p></td>
                <td><p>Description</p></td>
                <td><p>Prescription</p></td>


            </tr>

            @{
                foreach (var i in Model)
                {
                    <tr>
                        <td>@i.AppointmentId</td>
                        <td>@i.Status</td>
                        <td>@i.Slot</td>
                        <td>@i.Timings</td>
                        <td>@i.Pay</td>
                        <td>@i.Description</td>
                        <td>@i.Prescription</td>
                        @{ if ((i.Status == "confirmed") && (i.Pay == "pay"))
                            {
                                <td><a href="~/Patient/PayDoctor?appid=@i.AppointmentId">pay</a></td>
                            }
                        }
                    </tr>
                }
            }

        </table>

    </div>
</body>
</html>

