@model DataAccessLayer.model.newdoctor
@{
   
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>



        <h2 style="color:black;">Doctor's Registration Form</h2>

        <table>
            @using (Html.BeginForm("NewDoctor", "Doctor", FormMethod.Post))
            {

                <tr>
                    <td>Full Name </td>

                    <td>  @Html.TextBoxFor(m => m.UserName)</td>

                    @Html.ValidationMessageFor(m => m.UserName)

                </tr>
                <tr>
                    <td>Mail Id </td>
                    <td> @Html.TextBoxFor(m => m.Mail)</td>

                    @Html.ValidationMessageFor(m => m.Mail)
                </tr>
                <tr>
                    <td>Age </td>
                    <td> @Html.TextBoxFor(m => m.Age)</td>

                    @Html.ValidationMessageFor(m => m.Age)
                </tr>
                <tr>
                    <td>Mobile Number </td>
                    <td>@Html.TextBoxFor(m => m.MobileNumber)</td>

                    @Html.ValidationMessageFor(m => m.MobileNumber)
                </tr>
                <tr>
                    <td>Address </td>
                    <td>@Html.TextBoxFor(m => m.Address)</td>

                    @Html.ValidationMessageFor(m => m.Address)
                </tr>
                <tr>
                    <td>Hospital Name </td>
                    <td> @Html.DropDownListFor(m => m.HospitalName, ((SelectListItem[])ViewBag.hospitals))</td>

                    @Html.ValidationMessageFor(m => m.HospitalName)
                </tr>
                <tr>
                    <td>Specialist Name </td>
                    <td> @Html.DropDownListFor(m => m.SpecialistName, ((SelectListItem[])ViewBag.specialists))</td>

                    @Html.ValidationMessageFor(m => m.SpecialistName)
                </tr>
                <tr>
                    <td> Experience </td>
                    <td> @Html.TextBoxFor(m => m.Experience)</td>

                    @Html.ValidationMessageFor(m => m.Experience)
                </tr>
                <tr>
                    <td> Fee</td>
                    <td>@Html.TextBoxFor(m => m.Fees)</td>

                    @Html.ValidationMessageFor(m => m.Fees)
                </tr>
                <tr>
                    <td>Password</td>
                    <td>@Html.TextBoxFor(m => m.PassWord)</td>

                    @Html.ValidationMessageFor(m => m.PassWord)
                </tr>
                <tr>
                    <td>Confirm Password</td>
                    <td>@Html.TextBoxFor(m => m.PassWord)</td>

                    @Html.ValidationMessageFor(m => m.PassWord)
                </tr>
                <tr>
                    <td><input type="submit" value="Send Request" /></td>

                </tr>
                <tr><td><span><a href="~/LoginPage/SignIn">logout </a></span></td></tr>
            }

        </table>
    </div>
</body>
</html>
